* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #44bda3;
}
img {
    width: 700px;
    height: 450px;
    border-radius: 10%;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 30px;
}
p {
    letter-spacing: 3px;
    line-height: 30px;
}
.topo {
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 3vh;
    font-size: 60px;
}
.descricao {
    text-decoration: underline;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 600px;
    padding: 0 50px;
}
.texto {
    height: 400px;
}
.imagem {
    margin-right: 20px;
}
caption {
    background-color: rgb(255, 255, 255);
    font-size: 30px;
}
table {
    background: rgb(0, 0, 0);
    width: 400px;
    height: 400px;
    margin-top: 10px;
}
table th, tr, td, caption {
    border: solid 1px black;
}
td {
    padding: 5px;
    background-color: rgb(255, 255, 255);
}
th {
    padding: 5px;
    background-color: rgb(255, 255, 255);
}
.azul {
    background-color: rgb(0, 47, 255);
    padding: 5px;
}
.lista {
    width: 800px;
    height: 400px;
    background-color: antiquewhite;
}
td img {
    width: 30px;
    height: 30px;
}
li {
    width: 150px;
    font-size: 25px;
}
.fogo {
    background-color: #ff8800;
    color: #ffffffff;
}
.agua {
    background-color: #0000ff;
    color: #ffffffff;
}
.grama {
    background-color: #12a826;
    color: #ffffffff;
}
.veneno {
    background-color: #ae00ff;
    color: #ffffffff;
}
.voador {
    background-color:rgb(76, 140, 165);
    color: #ffffffff;
}
.eletrico {
    background-color: rgb(255, 255, 0);
    color: #ffffffff;
}
.gelo {
    background-color: rgb(54, 230, 253);
    color: #ffffffff;
}
.psiquico {
    background-color: rgb(255, 0, 200);
    color: rgb(255, 255, 255);
}
.terrestre {
    background-color: rgb(226, 226, 10);
    color: #ffffffff;
}
.pedra {
    background-color: rgb(179, 182, 4);
    color: #ffffffff;
}
.lista {
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 600px;
    letter-spacing: 5px;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(255, 248, 248);
    border: 6px solid #000000;
    flex-wrap: wrap;
}
.lista h1,ul,li{
    background: rgb(255, 255, 255);
    margin-left: 5px;
}
.texto:nth-of-type(2) {
   margin-left: 90px;
   width: 600px;
   height: 600px;
   font-size: 24px;
   line-height: 30px;
}
.container:nth-of-type(2) {
    width: 100%;
    height: 100%;
}
.evolucoes {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 400px;
    background-color: #44bda3;
    align-items: center;
    border-bottom: 5px solid black;
}
.evolucoes img {
    height: 300px;
    width: 300px;
    border-radius: 100%;
}
.evolucoes-titulo {
    text-align: center;
    margin-top: 50px;
    border-top: 5px solid black;
}
.evolucoes h1 {
    text-align: center;
}
.voltar {
    margin-top: 50px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #44bda3;
}
.voltar a{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    text-align: center;
    padding: 40px;
    border: 5px solid black;
    font-size: 30px;
    text-decoration: none;
}
.voltar a::after {
    content:"";
    display: inline-block; /* Necessário para que o pseudo-elemento seja visível */
    background: url("img/pokeball.png") no-repeat; /* Define a imagem como fundo */
    width: 50px;
    height: 50px;
    background-size: cover; /* Ajusta o tamanho da imagem */
    margin-right: 10px; /* Espaço entre o ícone e o texto */
    vertical-align: middle;
}
a:hover {
    text-decoration: underline;
}
.descricao {
    text-decoration: underline;
    padding-bottom: 5px;
}
a {
    color: black;
    text-decoration: none;
}
.evolucoes div:hover {
    padding: 10px;
    text-decoration: underline;
    margin-bottom: 20px;
}